1.

In [184]:
miVar = 3
print(miVar)

3

2.

In [185]:
type(8.5)

float

3.

In [186]:
type(miVar)

int

4.

In [187]:
miNombre = 'Wan'

5.

In [188]:
complexNumb = 3 + 5j

6.

In [189]:
type(complexNumb)

complex

7.

In [190]:
import math 
pi = round(math.pi, 4)
print(pi)

3.1416

8.

In [191]:
t = True
t2 = 'True'

9.

In [192]:
type(t)
type(t2)

str

10.

In [193]:
suma = miVar + pi
print(suma)

6.1416

11.

In [194]:
sumaComplejos = 3j + 5j
print(sumaComplejos)

8j

12.

In [195]:
sumaRealComplex = 3.2 + 22j
print(sumaRealComplex)

(3.2+22j)

13.

In [196]:
10 * 3

30

14.

In [197]:
print(2**8)

256

15.

In [198]:
division = 27 / 4
print(division)

6.75

16.

In [199]:
seis = int(division)
print(seis)

6

17.

In [200]:
b = division % 1

18. Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [201]:
4 * seis + b * 4

27.0

19. Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [202]:
print('Hola, ' + 'mi edad es 29')

Hola, mi edad es 29

20. Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [203]:
'2' == 2

False

21. Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [204]:
'2' == str(2)

True

22. ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [206]:
a = float(3.8)
print(a)

TypeError: 'float' object is not callable

No tengo idea porque me da ese error. En la solución que nos dan, funciona perfecto ?????

23. Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [ ]:
a = 3
a -= 1
print(a)

2

24. Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1 << 2

4

Operadores Bitwise:
Este de arriba es el operador shift: << >>  
Es utilizado para mover los bits de una cadena de bits hacia la izquierda o hacia la derecha. Para mover los bits de un número binario ‘x’, ‘y’ espacios hacia la izquierda o derecha, se escribe:

x << y  # Se mueven los bits 'y' espacios hacia la izquierda
x >> y  # Se mueven los bits 'y' espacios hacia la derecha

Los bits que lleguen a la posición 0 y sigan moviéndose hacia la derecha serán eliminados.

En nuestro ejemplo de arriba tengo el bit 1 en la posición 0 (de der a izq) y lo desplazo 2 lugares hacia la izq. Es decir me queda un 1 en la posición 2 del byte. 2^2 = 4  --> decimal 4

25. Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2 + 2
'2' + '2'

'22'

26. Realizar una operación válida entre valores de tipo entero y string

In [ ]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces